x-nextjs-service: &nextjs-service
  build:
    context: .
    dockerfile: Dockerfile
    target: dev
  volumes:
    - .:/app
    - /app/node_modules
    - /app/.next
  env_file:
    - .env.local
  environment:
    - NODE_ENV=development
    - NEXT_TELEMETRY_DISABLED=1
    - WATCHPACK_POLLING=true
    - NEXT_PUBLIC_API_URL=${NEXT_PUBLIC_API_URL}
    - NEXTAUTH_URL=${NEXTAUTH_URL}
    - NEXTAUTH_SECRET=${NEXTAUTH_SECRET}
    - AUTH_CLIENT_ID=${AUTH_CLIENT_ID}
    - AUTH_CLIENT_SECRET=${AUTH_CLIENT_SECRET}
    - AUTH_ISSUER=${AUTH_ISSUER}
  restart: unless-stopped

name: mac-fast-frontend-dev
services:
  web:
    <<: *nextjs-service
    ports:
      - "3000:3000"
