NEXT_PUBLIC_API_URL = http://localhost:8000
NEXTAUTH_URL=http://localhost:3000

# AUTH_SECRET is required by the Auth.js library to handle sessions, to generate a secret you can run this command (openssl rand -base64 32) or just set to a random string like "mysecret"
AUTH_SECRET=

# These are all values that can be found in the teams chat provided by UTS
AUTH_MICROSOFT_ENTRA_ID_ID=
AUTH_MICROSOFT_ENTRA_ID_SECRET=
AUTH_MICROSOFT_ENTRA_ID_TENANT_ID=